/* IconsList.css */

.user-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .user-icon {
    margin-right: 10px; /* Espacio entre los íconos */
  }
  
  .user-icon img {
    width: 24px; /* Tamaño de los íconos */
    height: 24px;
  }
  